In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv('Note_bac.csv')

In [5]:
df.head(5)

,Cod unic candidat,Sex,Specializare,Profil,Fileira,Forma de învățământ,Mediu candidat,Unitate (SIIIR),Unitate (SIRUES),Clasa,...,NOTA_CONTESTATIE_EA,CONTESTATIE_EB,NOTA_CONTESTATIE_EB,CONTESTATIE_EC,NOTA_CONTESTATIE_EC,CONTESTATIE_ED,NOTA_CONTESTATIE_ED,PUNCTAJ DIGITALE,STATUS,Medie
0,11067,F,Științe Sociale,Uman,Teoretică,Frecvență redusă,URBAN,3661100016,718401.0,a XIII-a A,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,44.0,Absent,NaN
1,11106,F,Tehnician operator tehnică de calcul,Tehnic,Tehnologică,Zi,RURAL,3261101724,320675702.0,a XII-a B,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,39.0,Nepromovat,NaN
2,11185,M,Științe ale Naturii,Real,Teoretică,Zi,URBAN,3661100016,718401.0,a XII-a B,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,NaN,Nepromovat,NaN
3,11591,F,Matematica-Informatica,Real,Teoretică,Zi,URBAN,961100082,404517.0,a XII-a a XII-a A,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,56.0,Nepromovat,5.13
4,11818,M,Tehnician operator procesare text imagine,Tehnic,Tehnologică,Zi,RURAL,1561101512,1181411.0,a XII-a A14,...,NaN,Nu,NaN,Nu,NaN,Nu,NaN,63.0,Nepromovat,NaN

## Verification of Candidate Code Uniqueness
Following the verification of student codes, it was observed that they are not unique. This is because some students have taken the BAC exam multiple times.

In [7]:
def non_unique_values(df, column_name):

  if df[column_name].is_unique:
    print('The IDs values are unique')
  else:
    print('The IDs values are NOT unique')

  print(df[column_name].value_counts())


non_unique_values(df, "Cod unic candidat")

The IDs values are NOT unique
Cod unic candidat
174393    8
141858    8
753861    8
683069    8
671238    8
         ..
799371    1
799373    1
799375    1
799389    1
719654    1
Name: count, Length: 582402, dtype: int64

In [8]:
df.columns

Index(['Cod unic candidat', 'Sex', 'Specializare', 'Profil', 'Fileira',
       'Forma de învățământ', 'Mediu candidat', 'Unitate (SIIIR)',
       'Unitate (SIRUES)', 'Clasa', 'Subiect ea', 'Subiect eb',
       'Limba modernă', 'Subiect ec', 'Subiect ed', 'Promoție', 'NOTE_RECUN_A',
       'NOTE_RECUN_B', 'NOTE_RECUN_C', 'NOTE_RECUN_D', 'NOTE_RECUN_EA',
       'NOTE_RECUN_EB', 'NOTE_RECUN_EC', 'NOTE_RECUN_ED', 'STATUS_A',
       'STATUS_B', 'STATUS_C', 'STATUS_D', 'STATUS_EA', 'STATUS_EB',
       'STATUS_EC', 'STATUS_ED', 'ITA', 'SCRIS_ITC', 'SCRIS_PMS', 'ORAL_PMO',
       'ORAL_IO', 'NOTA_EA', 'NOTA_EB', 'NOTA_EC', 'NOTA_ED', 'CONTESTATIE_EA',
       'NOTA_CONTESTATIE_EA', 'CONTESTATIE_EB', 'NOTA_CONTESTATIE_EB',
       'CONTESTATIE_EC', 'NOTA_CONTESTATIE_EC', 'CONTESTATIE_ED',
       'NOTA_CONTESTATIE_ED', 'PUNCTAJ DIGITALE', 'STATUS', 'Medie'],
      dtype='object')

In [17]:
candidat_exemple = df[df['Cod unic candidat'] == 11818]
candidat_exemple[['Cod unic candidat', 'STATUS', 'Medie']]

        Cod unic candidat      STATUS  Medie
4                   11818  Nepromovat    NaN
60088               11818  Nepromovat   5.81
199180              11818  Nepromovat   5.56
241928              11818    Promovat   6.25

To better document the history of candidates, we will introduce two new columns: 'An' and 'Sesiune'.

In [21]:
nr_randuri = [136864, 45120, 43528, 155650, 42747, 133664, 134415, 33676]

sum_randuri = 0

for rand in nr_randuri:
  sum_randuri += rand

In [22]:
print(sum_randuri)
print(df.shape[0])

725664
725664

In [19]:
df['An'] = ''
df['Sesiune'] = ''

In [23]:
an_value = [2018, 2018, 2019, 2020, 2020, 2021, 2024, 2024]
sesiune_value = ['vara', 'toamna', 'toamna', 'vara', 'toamna', 'vara', 'vara', 'toamna']

In [24]:
print(len(nr_randuri), len(an_value), len(sesiune_value))

8 8 8

In [25]:
start_row = 0
for i, num_r in enumerate(nr_randuri):
  end_row = start_row + num_r -1
  df.loc[start_row:end_row, 'An'] = an_value[i]
  df.loc[start_row:end_row, 'Sesiune'] = sesiune_value[i]
  start_row = end_row + 1

In [26]:
candidat_exemple = df[df['Cod unic candidat'] == 11818]
candidat_exemple[['Cod unic candidat', 'STATUS', 'Medie', 'An', 'Sesiune']]

        Cod unic candidat      STATUS  Medie    An Sesiune
4                   11818  Nepromovat    NaN  2018    vara
60088               11818  Nepromovat   5.81  2018    vara
199180              11818  Nepromovat   5.56  2019  toamna
241928              11818    Promovat   6.25  2020    vara

In our project, we only need the students who passed the BAC exams, so we will extract those next.

In [27]:
df_promovat = df[df['STATUS'] == 'Promovat']

In [28]:
df_promovat.head(5)

,Cod unic candidat,Sex,Specializare,Profil,Fileira,Forma de învățământ,Mediu candidat,Unitate (SIIIR),Unitate (SIRUES),Clasa,...,NOTA_CONTESTATIE_EB,CONTESTATIE_EC,NOTA_CONTESTATIE_EC,CONTESTATIE_ED,NOTA_CONTESTATIE_ED,PUNCTAJ DIGITALE,STATUS,Medie,An,Sesiune
11,13842,M,Științe ale Naturii,Real,Teoretică,Zi,URBAN,1161104385,1181253.0,a XII-a XII ȘTII,...,NaN,Nu,NaN,Nu,NaN,51.0,Promovat,6.13,2018,vara
14,14324,F,Tehnician ecolog și protecția calității mediului,Resurse naturale și protecția mediului,Tehnologică,Zi,RURAL,2261105165,792328.0,a XII-a B,...,NaN,Nu,NaN,Nu,NaN,22.0,Promovat,6.41,2018,vara
17,14674,F,Tehnician ecolog și protecția calității mediului,Resurse naturale și protecția mediului,Tehnologică,Zi,RURAL,1561101625,803567.0,a XII-a XII-D,...,NaN,Nu,NaN,Nu,NaN,15.0,Promovat,6.06,2018,vara
23,16046,M,Tehnician mecanic pentru întreținere și reparații,Tehnic,Tehnologică,Zi,RURAL,2761102281,806301.0,a XII-a 12N,...,NaN,Nu,NaN,Nu,NaN,62.0,Promovat,6.05,2018,vara
25,15418,F,Tehnician ecolog și protecția calității mediului,Resurse naturale și protecția mediului,Tehnologică,Zi,RURAL,1061104364,413233.0,a XII-a 12V,...,NaN,Nu,NaN,Nu,NaN,19.0,Promovat,6.41,2018,vara

In [30]:
non_unique_values(df_promovat, "Cod unic candidat")

The IDs values are unique
Cod unic candidat
799419    1
13842     1
14324     1
14674     1
16046     1
         ..
31846     1
30605     1
22490     1
23999     1
26251     1
Name: count, Length: 414952, dtype: int64

## Splitting Data into Personal Details and Exam Results
Now we need to create two dataframes out of this one: the first will contain the personal details, and the second will contain the exam's results.

### The Personal Details Dataframe

In [53]:
# Unitate (SIIIR) reprezunta codul liceului si face legatura cu adresa.csv
persoana = df_promovat[['Cod unic candidat', 'Sex', 'Specializare', 'Profil', 'Fileira', 'Unitate (SIIIR)', 'An', 'Sesiune']]

In [32]:
persoana.head(5)

,Cod unic candidat,Sex,Specializare,Profil,Fileira,Unitate (SIIIR),An,Sesiune
11,13842,M,Științe ale Naturii,Real,Teoretică,1161104385,2018,vara
14,14324,F,Tehnician ecolog și protecția calității mediului,Resurse naturale și protecția mediului,Tehnologică,2261105165,2018,vara
17,14674,F,Tehnician ecolog și protecția calității mediului,Resurse naturale și protecția mediului,Tehnologică,1561101625,2018,vara
23,16046,M,Tehnician mecanic pentru întreținere și reparații,Tehnic,Tehnologică,2761102281,2018,vara
25,15418,F,Tehnician ecolog și protecția calității mediului,Resurse naturale și protecția mediului,Tehnologică,1061104364,2018,vara

In [34]:
persoana = persoana.rename(columns={
    'Cod unic candidat': 'cod_candidat',
    'Sex': 'sex',
    'Specializare': 'specializare',
    'Profil': 'profil',
    'Fileira': 'fileira',
    'Unitate (SIIIR)': 'siiir',
    'An': 'an',
    'Sesiune': 'sesiune'
})

In [35]:
output_path = 'persoane_promovate.csv'
persoana.to_csv(output_path, index=False)

In [36]:
rezultate_bac_initial = df_promovat[['Cod unic candidat', 'Subiect ea', 'Subiect eb', 'Subiect ec', 'Subiect ed',
                    'NOTA_EA', 'NOTA_EB', 'NOTA_EC', 'NOTA_ED', 'CONTESTATIE_EA', 'NOTA_CONTESTATIE_EA',
                    'CONTESTATIE_EB', 'NOTA_CONTESTATIE_EB', 'CONTESTATIE_EC', 'NOTA_CONTESTATIE_EC',
                    'CONTESTATIE_ED', 'NOTA_CONTESTATIE_ED', 'STATUS', 'Medie', 'An', 'Sesiune']]

In [37]:
rezultate_bac = rezultate_bac_initial.copy()

In [38]:
rezultate_bac.columns

Index(['Cod unic candidat', 'Subiect ea', 'Subiect eb', 'Subiect ec',
       'Subiect ed', 'NOTA_EA', 'NOTA_EB', 'NOTA_EC', 'NOTA_ED',
       'CONTESTATIE_EA', 'NOTA_CONTESTATIE_EA', 'CONTESTATIE_EB',
       'NOTA_CONTESTATIE_EB', 'CONTESTATIE_EC', 'NOTA_CONTESTATIE_EC',
       'CONTESTATIE_ED', 'NOTA_CONTESTATIE_ED', 'STATUS', 'Medie', 'An',
       'Sesiune'],
      dtype='object')

We create a function that analyzes if the candidate has contested the grades. If true, then the final grade of the candidate will be the contested grade.

In [39]:
note_finale = ['NOTA_EA', 'NOTA_EB', 'NOTA_EC', 'NOTA_ED']
contestatie = ['CONTESTATIE_EA', 'CONTESTATIE_EB', 'CONTESTATIE_EC', 'CONTESTATIE_ED']
note_contestatie = ['NOTA_CONTESTATIE_EA', 'NOTA_CONTESTATIE_EB', 'NOTA_CONTESTATIE_EC', 'NOTA_CONTESTATIE_ED']

In [40]:
for i in range(len(note_finale)):
  rezultate_bac[note_finale[i]] = rezultate_bac.apply(

      lambda x: x[note_contestatie[i]] if x[contestatie[i]] == 'Da' else x[note_finale[i]], axis=1

  )

In [44]:
rezultate_bac.columns

Index(['Cod unic candidat', 'Subiect ea', 'Subiect eb', 'Subiect ec',
       'Subiect ed', 'NOTA_EA', 'NOTA_EB', 'NOTA_EC', 'NOTA_ED',
       'CONTESTATIE_EA', 'NOTA_CONTESTATIE_EA', 'CONTESTATIE_EB',
       'NOTA_CONTESTATIE_EB', 'CONTESTATIE_EC', 'NOTA_CONTESTATIE_EC',
       'CONTESTATIE_ED', 'NOTA_CONTESTATIE_ED', 'STATUS', 'Medie', 'An',
       'Sesiune'],
      dtype='object')

In [45]:
rezultate_bac2 = rezultate_bac[['Cod unic candidat', 'Subiect ea', 'Subiect eb', 'Subiect ec',
                               'Subiect ed', 'NOTA_EA', 'NOTA_EB', 'NOTA_EC', 'NOTA_ED',
                               'STATUS', 'Medie', 'An', 'Sesiune']]

In [46]:
print(rezultate_bac2.head())

    Cod unic candidat           Subiect ea Subiect eb         Subiect ec  \
11              13842  Limba română (REAL)        NaN  Matematică ST-NAT
14              14324  Limba română (REAL)        NaN    Matematică TEHN
17              14674  Limba română (REAL)        NaN    Matematică TEHN
23              16046  Limba română (REAL)        NaN    Matematică TEHN
25              15418  Limba română (REAL)        NaN    Matematică TEHN

                                           Subiect ed  NOTA_EA  NOTA_EB  \
11  Anatomie și fiziologie umană, genetică și ecol...     6.40      NaN
14  Anatomie și fiziologie umană, genetică și ecol...     5.70      NaN
17  Anatomie și fiziologie umană, genetică și ecol...     5.05      NaN
23                       Biologie vegetală și animală     6.00      NaN
25  Anatomie și fiziologie umană, genetică și ecol...     7.20      NaN

    NOTA_EC  NOTA_ED    STATUS  Medie    An Sesiune
11     5.00     7.00  Promovat   6.13  2018    vara
14     5.00     8.55  Promovat   6.41  2018    vara
17     5.80     7.35  Promovat   6.06  2018    vara
23     6.05     6.10  Promovat   6.05  2018    vara
25     5.00     7.05  Promovat   6.41  2018    vara

In [47]:
rezultate_bac2 = rezultate_bac2.rename(columns = {
    'Cod unic candidat': 'cod_candidat',
    'Subiect ea': 'subiect_ea',
    'Subiect eb': 'subiect_eb',
    'Subiect ec': 'subiect_ec',
    'Subiect ed': 'subiect_ed',
    'NOTA_EA': 'nota_ea',
    'NOTA_EB': 'nota_eb',
    'NOTA_EC': 'nota_ec',
    'NOTA_ED': 'nota_ed',
    'STATUS': 'status',
    'Medie': 'medie',
    'An': 'an',
    'Sesiune': 'sesiune'
})

In [48]:
rezultate_bac2.columns

Index(['cod_candidat', 'subiect_ea', 'subiect_eb', 'subiect_ec', 'subiect_ed',
       'nota_ea', 'nota_eb', 'nota_ec', 'nota_ed', 'status', 'medie', 'an',
       'sesiune'],
      dtype='object')

We will also add a new column that contains a list of the subjects taken at the BAC for each student.

In [49]:
rezultate_bac2['materii_bac'] = rezultate_bac2[['subiect_ea', 'subiect_eb', 'subiect_ec', 'subiect_ed']].apply(
    lambda row: str([materie for materie in row.dropna().astype(str)]), axis=1
)

In [51]:
rezultate_bac2.head(5)

,cod_candidat,subiect_ea,subiect_eb,subiect_ec,subiect_ed,nota_ea,nota_eb,nota_ec,nota_ed,status,medie,an,sesiune,materii_bac
11,13842,Limba română (REAL),NaN,Matematică ST-NAT,"Anatomie și fiziologie umană, genetică și ecol...",6.40,NaN,5.00,7.00,Promovat,6.13,2018,vara,"['Limba română (REAL)', 'Matematică ST-NAT', '..."
14,14324,Limba română (REAL),NaN,Matematică TEHN,"Anatomie și fiziologie umană, genetică și ecol...",5.70,NaN,5.00,8.55,Promovat,6.41,2018,vara,"['Limba română (REAL)', 'Matematică TEHN', 'An..."
17,14674,Limba română (REAL),NaN,Matematică TEHN,"Anatomie și fiziologie umană, genetică și ecol...",5.05,NaN,5.80,7.35,Promovat,6.06,2018,vara,"['Limba română (REAL)', 'Matematică TEHN', 'An..."
23,16046,Limba română (REAL),NaN,Matematică TEHN,Biologie vegetală și animală,6.00,NaN,6.05,6.10,Promovat,6.05,2018,vara,"['Limba română (REAL)', 'Matematică TEHN', 'Bi..."
25,15418,Limba română (REAL),NaN,Matematică TEHN,"Anatomie și fiziologie umană, genetică și ecol...",7.20,NaN,5.00,7.05,Promovat,6.41,2018,vara,"['Limba română (REAL)', 'Matematică TEHN', 'An..."

In [52]:
output_path = 'rezultate_bac_promovat_processed.csv'
rezultate_bac2.to_csv(output_path, index=False)